@import '../fonts/stylesheet.css';

// Margin variables
$marginNormal: 20px;  
$marginBig: $marginNormal *2;  
$marginSmall: $marginNormal/2;

// Colors
$mainColor: #fff200;
$backgroundColor: #FFF;
$gris: #3F3F3F;
$lightgray: #737373;

// Fonts
$font: "Avenir", sans-serif;
$titleFont: "LMDLD", sans-serif;
$subtitleFont: "Bebas", sans-serif;

// FontSize
$menuSize: 16px;
$textSize: 19px;
$titleSize: 2em;
$smallText: 0.8em;
 
// Mixins
@mixin center{
	display: block;
	position: relative; 
	top: 50%;
	transform: translateY(-50%);
}


// Fluid typography (https://css-tricks.com/snippets/css/fluid-typography/)

@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-font-size);
  $u4: unit($max-font-size);

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
    & {
      font-size: $min-font-size;
      @media screen and (min-width: $min-vw) {
        font-size: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
      }
      @media screen and (min-width: $max-vw) {
        font-size: $max-font-size;
      }
    }
  }
}

