// -------------- MOBILE-FIRST HEADER --------------

header{
	width: 100%;
	max-width: 100%;
	position: fixed;
	left:0;
	top:0; 
	background: $mainColor;
	z-index: 100; 
	align-items: center;
	padding: 0px;
	height: 85px;
	&.row{margin:0;}
	a{text-decoration:none;}
	.logo{
		padding: 0 $marginNormal;
		width: 220px;
	}
	.now-frame{
		border-left: 5px solid $gris;
		padding: 0px $marginSmall;
		h2{
			font-size: $textSize;
			font-family: $subtitleFont;
			margin:0;
		}
		ul{
			margin:0;
			li{
				display: inline-block;
				margin-right: $marginSmall;
				&:after{
					content: "///";
					margin-left: $marginSmall;
				}
				&:last-child{
					&:after{
						content: "";
					}
				}
			}
		}
	}
	.menu_btn{
		display:block;
		position:relative;
		margin:0px;
		cursor:pointer;
		height:24px;
		width: 35px;
		&:hover span{
			background: #000;
		}
		&:hover span.menu_text{
			color: #000;
		}
		span {
		  display:block;
		  background:$gris;
		  height:3px;
		  width:35px;
		  position:absolute;
		  transition:all 0.5s ease;
		}
		span:nth-child(1){top:0px;}
		span:nth-child(2){top:10px;}
		span:nth-child(3){top:20px;}

		.transparent {opacity:0;}
		.rotate-top{transform:rotatez(45deg);-webkit-transform-origin:0%;left:2px}
		.rotate-bottom{transform:rotatez(-45deg);-webkit-transform-origin: 15%;}

		span.menu_text{
			height: auto;
			width: auto; 
			font-size: 18px;
			background: transparent; 
			top: 25px;
			color: $gris;
		}
	}
	.nav{
		margin:0;
		font-size: 30px;
		font-family: $subtitleFont;
		font-weight: normal; 
		letter-spacing: 0.06em;
		position: fixed; 
		right: $marginNormal;
		top: 23px;
		width: 100%;
		z-index: -1;
	}
	.main-nav{
		margin-top: $marginSmall;
		margin-bottom: $marginNormal;
		padding:$marginNormal 40px;
		position: absolute; 
		background: $mainColor; 
		top: 33px;
		right: -440px; 
		transition: all 0.8s ease-in-out; 
		&.active{
			right: -$marginSmall;
		}
		li{
			list-style: none;
			margin-bottom: $marginNormal;
			line-height: 1;
			a{
				color: $gris;
				&:hover{
					color: #000;
				}
			}
			&.active{
				a{
					color: #000;
				}
			}				
		}
	}

}


// -------------- DESKTOP HEADER --------------
@media only screen and (min-width: 48em){
	header{
		.logo{
			padding: 0 $marginBig;
			width: 300px;
		}
		.nav{
			right: $marginBig;
			width: 400px;
		}
		.main-nav{
			top: 45px;
			&.active{
				right: -$marginBig;
			}
		}
	}

}





