  // I M P O R T
  // -------------- MOBILE-FIRST --------------
  @import "_variables.scss";

  *{
    box-sizing: border-box;
  	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body{
  	margin: 0; 
    font-size: $textSize; 
    font-family: $font;
    background: $backgroundColor;
    line-height: 1.4;
    color: #000;
    height: 100%;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden; 
  }

  // -------------- RESET.CSS --------------
  ul, ol{margin:0; padding:0;}
  li{list-style:none;}
  a{color: $gris;text-decoration: none;}
  a:visited{color: #000;}
  a:hover{color: #000;}
  img {width: 100%;}
  figure{margin:0;}
  figcaption{
    font-size: $smallText;
    &::before{
      content: '⬇ ';
    }
    p{
      margin:0; 
      font-size: $smallText;
      display: inline-block;
    }
  }
  p{
    // font-size: $textSize;
     @include fluid-type(320px, 1200px, 18px, 21px); 
    &:last-child{
      margin-bottom:0;
    }
  }
  
  h1{
    font-size: 3rem;
    margin-top:$marginSmall;
    margin-bottom: $marginNormal;
    line-height: 1.2;
    font-weight: 500;
    font-family: $titleFont;
    color: $gris;
  }
  h2{
    color: $gris;
    font-size: 40px;
    line-height: 1.2;
    text-transform: uppercase;
    font-family: $titleFont;
    font-weight: normal;
    margin:0;
  }

  h2 + ul{
    margin-top: $marginNormal;
  }

  h3{
    font-size:$textSize; 
    font-weight: normal;
    margin:0;
  }


  h4{
    font-weight: normal;
    margin: 0; 
  }

  h5{
    margin-top: $marginBig;
    margin-bottom: $marginSmall;
  }

  blockquote{
    padding: 10px 20px;
    margin: 0 0 20px;
    border-left: 5px solid rgba(17, 33, 77, 0.2);
  }


  video, iframe{
    width: 100%;
  }

  figure{
    &.border{
      border: 0.1em solid rgba(0,0,0,.1);
      box-shadow: 0 1px 4px rgba(0,0,0,.1);
    }
  }


  .clair{
    color: $lightgray;
  }

  .bebas{
    font-family: $subtitleFont;
  }

  .lmdld{
    font-family: $titleFont;
  }

  .jaune{
    background: #fff200;
    padding: 0 3px;
  }

  .arrow-back{
    font-family: $subtitleFont;
    color: $gris;
    letter-spacing: 0.05em;
    font-size: 15px;
    position: absolute; 
    top: 100px; 
    left: 22px;
    z-index: 2;
  }


  // -------------- IMPORT TEMPlATES STYLES --------------
  @import "header.scss";


  // -------------- MOBILE-FIRST GENERAL --------------
  .show-for-small-only{
  	display:block;
  }

  .hide-for-small-only{
  	display:none;
  }

  body[data-template="home"],body[data-template="menu"]{
    main{
      max-width: 100%;
    }
  } 

  main{
    padding: 85px 0 0 0; 
    font-size: $textSize;
    width: 100%;
    margin:0px auto;
    min-height: calc(100vh - 125px);
    max-width: 1600px;
    .content{
      position: relative;
      padding: 0;
      min-height: calc(100vh - 210px);
      width:100%;
      &.row{
        margin:0;
      }
      .content-inner{
        // padding: 0;
        h1{
          font-family: $titleFont;
          // font-size: 2em;
          @include fluid-type(320px, 1200px, 32px, 40px);
          margin-bottom:0;
        }
        h1 + p, h2 + p, h3 + p, h4 + p, h5 + p, h6 + p {
          margin-top: 0;
        }
        h2{
          font-family: $titleFont;
          // font-size: 1.5em;
          @include fluid-type(320px, 1200px, 25px, 32px);
          margin-bottom:0;
          margin-top: $marginBig;
        }
        h3{
          font-family: $titleFont;
          // font-size: 1.2em;
          @include fluid-type(320px, 1200px, 20px, 27px);
          margin-bottom:0;
          margin-top: $marginBig;
        }
        h4{
          font-family: $subtitleFont;
          margin-bottom:0;
          @include fluid-type(320px, 1200px, 32px, 35px);
          margin-top: $marginBig;
          font-weight: normal;
          letter-spacing: 0.03em;
        }
        h5{
          font-family: $subtitleFont;
          margin-bottom:0;
          @include fluid-type(320px, 1200px, 25px, 30px);
          margin-top: $marginBig;
          font-weight: normal;
          color: $gris;
          letter-spacing: 0.03em;
        }
        h6{
          font-family: $subtitleFont;
          margin-bottom:0;
          @include fluid-type(320px, 1200px, 22px, 25px);
          margin-top: $marginBig;
          font-weight: normal;
          color: $gris;
          letter-spacing: 0.03em;
        }
      }

      figure{
        margin: $marginNormal 0;
      }
      ol{
        padding-left: $marginBig;
        li{
          list-style: decimal;
        }
      }
      .image-gallery{
        figure{
          margin:$marginSmall 0;
        }
      }
    }
  } 

  .breadcrumb{
    padding: $marginNormal $marginNormal $marginSmall; 
    position: absolute;
    z-index:2;
    ol{
      display: flex;
      flex-wrap: wrap; 
      li{
        margin-left: 5px;
        font-size: 15px; 
        &:before{
          content: '>>';
          margin-right: 5px;
        }
        &:first-child{
          margin-left: 0;
          &:before{
            content: '';
            margin-right: 0;
          } 
        }
        a:hover{
          background: $mainColor;
        }
      }
    }
  }


  .prog-list-wrapper{
    padding: 0 $marginBig;
    & >ul {
      width:100%;
    }
    & > ul > li{
      padding: $marginSmall;
    }
    h2{
      font-size: $titleSize;
    }
    h3{
      font-size: 19px;
      color: $gris; 
      font-family: $subtitleFont; 
      letter-spacing: 0.05em; 
      margin: $marginSmall 0px $marginNormal 0;
    }

    h4, .freedates{
      font-size: 19px;
      color: $gris; 
      font-family: $subtitleFont; 
      letter-spacing: 0.05em; 
      margin-bottom: $marginSmall;
    }

    h4.compagnie{
      color: $lightgray;
      margin-bottom: 0;
    }

    .distributionsum{
      p{
        font-size: 17px;
        padding-top: 0;
        margin-top: 0;
      }
    }

    .hours {
      margin-top:0;
      font-family: $subtitleFont;
      letter-spacing: 0.05em; 
      color: $gris;   
    }

    .lien-billeterie, .pdfs-wrapper > li{
      margin-top: $marginNormal;
      // border-left: 4px solid $mainColor;
      padding: 4px $marginSmall; 
      text-transform: uppercase;
      font-family: $subtitleFont;
      a{
        color: $gris; transition:color 0.5s ease; &:hover{color: #000;}
        border-bottom: 4px solid $mainColor;
      }
      letter-spacing: 0.02em; 
    }

    .lien-billeterie{
      margin-left: 0;
      background-color: $mainColor;
      text-align: center;
    }
    .credits-text{
      p{
        font-size: $smallText; 
      }
    } 

  }

  footer{
    background: $mainColor; 
    padding: $marginNormal $marginNormal;
    font-family: $font;
    letter-spacing: 0.02em;
    width: 100%;
    h1{
      font-size: $textSize;
      margin:0;
      color: #000;
    }
    p, a{
      margin:0;
      font-size: 14px;

    }
    .mentions-legales a{
      font-size: 12px;
      &:hover{
        text-decoration: underline;
      }
    }
    .socialnetworks{
      text-align: left;
      font-family: $subtitleFont;
      margin-top: $marginSmall;
      ul{
        display: flex;
        justify-content: flex-start;
        li a{
           color: $gris;
           transition: all 0.5s ease-in-out;
           margin-right: $marginSmall;
           font-size: 18px;
           &:hover{
            color: #000;
           }
        }
      } 
    }
  }

// -------------- GABARIT MENU GENERAL --------------
.big-menu{
  ul{
    flex-direction: column;
    flex: 1;
    margin:0;
    // height: calc(100vh - 210px);
  }
  li{
    height: auto;
    height: 150px;
    // height: 15vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: saturation;
    background-position: center;  
    border-left: 1px solid $gris;
    padding:0;
    position: relative;
    cursor: pointer; 
    a{
       height: 100%;
      // height: 15vh;
      display:block;
      background-color: rgba(255, 255, 255, 0.1);
      transition: all 0.5s ease-in-out;
      line-height: 1.1;
      .yellow-pattern{
        width: 100%;
        mix-blend-mode: multiply; 
        position: absolute; 
        top:-40px; 
        left:0;
        height: 15vh;
        overflow: hidden;
      }
      .big-menu-text{
        @include center;
        color: #FFF;
        text-align: center; 
        font-family: $subtitleFont;
        font-size: 2em; 
        text-shadow: 0px 0px 4px #333;
        padding: 0 $marginNormal;
        .infos-spectacle{
          // background-color: #FFF;
          // color: $gris;
          // text-shadow: none;
          width: 60%;
          margin:auto;
          padding: $marginSmall;
          h2{
            font-size: $smallText;
            font-family: $subtitleFont;
            color: #FFF;
          } 
          h3, .hours p{
            font-size: $menuSize;
            font-family: $subtitleFont;
            margin-top: 0;
          }
        }
      }
      &:hover{
        background-color: transparent;
      }
    }
  }
}

// -------------- GABARIT SPECTACLE GENERAL --------------
.switch-page{
  width: 100%;
  padding: 0 $marginSmall;
  display: flex; 
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
  &.no-prev{
    justify-content: flex-end;
  }

}

.switch-page .switch-wrapper{
  width: 45%;
  min-width: 100px;
  font-size: $menuSize;
  text-transform: uppercase;
  a{
    display: flex;
    align-items: center;
    &:hover .switch-text{
      background-color: $mainColor;
    }
  }

  &.next-wrapper {
    a{
      justify-content: flex-end;
    }
  }

  .text-next{
    text-align: right
  }
  .switch-arrow{
    font-size: 20px;
    margin-top: 0px;
    &.arrow-prev{
      margin-right: 10px;
    }
    &.arrow-next{
      margin-left: 10px;
    } 
  }
}

main .content.spectacle{
  padding: 80px 0;
  .spectacle-header h2{
    // font-size: 30px;
    @include fluid-type(320px, 1200px, 35px, 52px);
    margin-top: 0;
  }
  .right-spectacle{
    padding: $marginSmall $marginNormal;
  }

  .prog-cover-wrapper + .spectacle-btn{
    padding-top: 0;
  }

  .spectacle-btn{
    padding: 0  $marginNormal $marginBig $marginNormal;
    text-align: center; 
  }

  .lien-billeterie{
    margin-left: 0;
    background-color: $mainColor;
  }

  .distribution, .presentation-text{
    margin-bottom: $marginBig;
  }

  .related{
    margin-top: $marginBig;
    padding-top: $marginNormal;
    border-top: 4px solid $mainColor;
    h3{
     font-size: 25px;
    }
    h4{
      font-family: $titleFont;
      text-align: center;
      margin:0;
    }
  }

}


// -------------- GABARIT PROGRAMMATION GENERAL --------------

main .content.programmation{
  // padding: $marginBig;
  padding: 60px $marginSmall;
  position: relative;
  width:100%;
  margin: 0;
  .row{margin:0;}
  .archives-btn + h1{
    margin-top: $marginNormal;
  }
  h1 {
    width: 100%;
    text-align: center; 
    margin-top: $marginNormal;
    margin-bottom: $marginBig;
  }
  h2{
    font-size: 30px;
  }

  .archives-btn{
    // top: $marginNormal + 10px;
    // left: $marginBig + 18px;
    // left: 18px; 
    text-align: center;
    margin: auto;
    margin-top: $marginNormal;
    // position: absolute; 
    a{
      background: $mainColor;
      // border-left: 8px solid $mainColor;
      padding: 5px $marginSmall 3px;
      font-family: $subtitleFont;
      letter-spacing: 0.05em;
      color: $gris;
    }
  }

}

// -------------- GABARIT ARTICLE GENERAL --------------

main .content.article{
  padding: $marginBig*2 0;
  margin-bottom: $marginBig*2;
  a{
    text-decoration: underline; 
    text-decoration-color: $mainColor;
    &:hover{
      background-color: $mainColor;
    }
  }
  // h3{
  //   // background: $mainColor;
  //   margin-top: $marginBig;
  //   // padding-left: 3px;
  //   font-family: $titleFont;
  // }
  // h3+p{
  //   margin-top:0;
  // }
  .left-col{
    & > figure{
      margin-top: 0;
    }
  }
  .right-col{
    border-left: $marginNormal solid $mainColor;
    ul{
      margin-left: $marginBig;
      li{
        list-style: disc; 
        margin-bottom: $marginSmall;
      }
    }
  }
  // h1{margin-top:0;}
  // h2{
  //   font-family: $subtitleFont;
  //   font-weight: normal;
  //   font-size: 30px; 
  //   margin-bottom: 0;
  //   margin-top: $marginBig;
  // }
  // h2+p{
  //   margin-top: $marginSmall;
  // }
}


// -------------- DESKTOP GENERAL --------------
@media only screen and (min-width: 48em){
  .show-for-small-only{
      display:none !important;
  }
  .hide-for-small-only{
      display:block !important;
  }

  main {
    padding: 85px 0 0 0; 
    .content{
      padding: 0; 
      &.row{
        margin-right: -1rem;
        margin-left: -1rem;
      }
    }
  }

  .breadcrumb{
    padding: $marginNormal $marginBig $marginSmall;     
    ol{
      li{

      }
    }
  }

  // -------------- GABARIT MENU GENERAL --------------
  .big-menu{
    ul{
      flex-direction: row;
    }
    li{
      height: calc(100vh - 210px);
      a{
        height: calc(100vh - 210px);
        .yellow-pattern{
          height: calc(100vh - 210px);
        }
      }
    }
  }

  // -------------- GABARIT PROGRAMMATION GENERAL --------------
  main .content.programmation{
    padding: $marginBig;
  }

  .prog-list-wrapper{
    padding: 0 $marginBig;
    & > ul > li{
      padding: $marginBig;
    }
  }

  // -------------- GABARIT SPECTACLE GENERAL --------------
  .switch-page {
    padding: 0 60px;
    .switch-wrapper{
      width: 50%;
    }
  }
  main .content.spectacle{
    padding: $marginBig 0;
    margin:0;
    .right-spectacle{
      padding: $marginBig;
    }
    .left-spectacle{
      padding-top: $marginNormal;
      padding-left: 1rem;
    }
    .spectacle-btn{
      padding: 0 30px 0 30px;
    }
    .spectacle-header h2{
      // font-size: 3.8vw;
    }
  }

  // -------------- GABARIT ARTICLE GENERAL --------------
  main .content.article{
    padding: $marginBig*2 $marginBig;
    .left-col{
      padding-right: $marginNormal;
    }
    .right-col{
      padding-left: $marginNormal; 
    }
  }

  footer{ 
    padding: $marginSmall $marginBig;
    p, a{
      font-size: 0.75em;  
    }
    .socialnetworks{
      text-align: right;
      margin-top: 0;
      ul{
        justify-content: flex-end;
        li{
          margin-left: $marginSmall;
        }
      }
    }
  }

}





