@charset "UTF-8";
@import url(../fonts/stylesheet.css);
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body {
  margin: 0;
  font-size: 19px;
  font-family: "Avenir", sans-serif;
  background: #FFF;
  line-height: 1.4;
  color: #000;
  height: 100%;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden; }

ul, ol {
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

a {
  color: #3F3F3F;
  text-decoration: none; }

a:visited {
  color: #000; }

a:hover {
  color: #000; }

img {
  width: 100%; }

figure {
  margin: 0; }

figcaption {
  font-size: 0.8em; }
  figcaption::before {
    content: '⬇ '; }
  figcaption p {
    margin: 0;
    font-size: 0.8em;
    display: inline-block; }

p {
  font-size: 19px; }
  p:last-child {
    margin-bottom: 0; }

h1 {
  font-size: 3rem;
  margin-top: 10px;
  margin-bottom: 20px;
  line-height: 1.2;
  font-weight: 500;
  font-family: "LMDLD", sans-serif;
  color: #3F3F3F; }

h2 {
  color: #3F3F3F;
  font-size: 40px;
  line-height: 1.2;
  text-transform: uppercase;
  font-family: "LMDLD", sans-serif;
  font-weight: normal;
  margin: 0; }

h2 + ul {
  margin-top: 20px; }

h3 {
  font-size: 19px;
  font-weight: normal;
  margin: 0; }

h4 {
  font-weight: normal;
  margin: 0; }

h5 {
  margin-top: 40px;
  margin-bottom: 10px; }

blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  border-left: 5px solid rgba(17, 33, 77, 0.2); }

video, iframe {
  width: 100%; }

figure.border {
  border: 0.1em solid rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1); }

.clair {
  color: #737373; }

.bebas {
  font-family: "Bebas", sans-serif; }

.lmdld {
  font-family: "LMDLD", sans-serif; }

.jaune {
  background: #fff200;
  padding: 0 3px; }

.arrow-back {
  font-family: "Bebas", sans-serif;
  color: #3F3F3F;
  letter-spacing: 0.05em;
  font-size: 15px;
  position: absolute;
  top: 100px;
  left: 22px;
  z-index: 2; }

header {
  width: 100%;
  max-width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background: #fff200;
  z-index: 100;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0px;
  height: 85px; }
  header.row {
    margin: 0; }
  header a {
    text-decoration: none; }
  header .logo {
    padding: 0 20px;
    width: 220px; }
  header .now-frame {
    border-left: 5px solid #3F3F3F;
    padding: 0px 10px; }
    header .now-frame h2 {
      font-size: 19px;
      font-family: "Bebas", sans-serif;
      margin: 0; }
    header .now-frame ul {
      margin: 0; }
      header .now-frame ul li {
        display: inline-block;
        margin-right: 10px; }
        header .now-frame ul li:after {
          content: "///";
          margin-left: 10px; }
        header .now-frame ul li:last-child:after {
          content: ""; }
  header .menu_btn {
    display: block;
    position: relative;
    margin: 0px;
    cursor: pointer;
    height: 24px;
    width: 35px; }
    header .menu_btn:hover span {
      background: #000; }
    header .menu_btn:hover span.menu_text {
      color: #000; }
    header .menu_btn span {
      display: block;
      background: #3F3F3F;
      height: 3px;
      width: 35px;
      position: absolute;
      -webkit-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease; }
    header .menu_btn span:nth-child(1) {
      top: 0px; }
    header .menu_btn span:nth-child(2) {
      top: 10px; }
    header .menu_btn span:nth-child(3) {
      top: 20px; }
    header .menu_btn .transparent {
      opacity: 0; }
    header .menu_btn .rotate-top {
      -webkit-transform: rotatez(45deg);
      -ms-transform: rotate(45deg);
      transform: rotatez(45deg);
      -webkit-transform-origin: 0%;
      left: 2px; }
    header .menu_btn .rotate-bottom {
      -webkit-transform: rotatez(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotatez(-45deg);
      -webkit-transform-origin: 15%; }
    header .menu_btn span.menu_text {
      height: auto;
      width: auto;
      font-size: 18px;
      background: transparent;
      top: 25px;
      color: #3F3F3F; }
  header .nav {
    margin: 0;
    font-size: 30px;
    font-family: "Bebas", sans-serif;
    font-weight: normal;
    letter-spacing: 0.06em;
    position: fixed;
    right: 20px;
    top: 23px;
    width: 100%;
    z-index: -1; }
  header .main-nav {
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 20px 40px;
    position: absolute;
    background: #fff200;
    top: 33px;
    right: -440px;
    -webkit-transition: all 0.8s ease-in-out;
    -o-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out; }
    header .main-nav.active {
      right: -10px; }
    header .main-nav li {
      list-style: none;
      margin-bottom: 20px;
      line-height: 1; }
      header .main-nav li a {
        color: #3F3F3F; }
        header .main-nav li a:hover {
          color: #000; }
      header .main-nav li.active a {
        color: #000; }

@media only screen and (min-width: 48em) {
  header .logo {
    padding: 0 40px;
    width: 300px; }
  header .nav {
    right: 40px;
    width: 400px; }
  header .main-nav {
    top: 45px; }
    header .main-nav.active {
      right: -40px; } }

.show-for-small-only {
  display: block; }

.hide-for-small-only {
  display: none; }

body[data-template="home"] main, body[data-template="menu"] main {
  max-width: 100%; }

main {
  padding: 85px 0 0 0;
  font-size: 19px;
  width: 100%;
  margin: 0px auto;
  min-height: calc(100vh - 125px);
  max-width: 1600px; }
  main .content {
    position: relative;
    padding: 0;
    min-height: calc(100vh - 210px); }
    main .content .content-inner h1 {
      font-family: "LMDLD", sans-serif;
      font-size: 2em;
      margin-bottom: 0; }
    main .content .content-inner h1 + p, main .content .content-inner h2 + p, main .content .content-inner h3 + p, main .content .content-inner h4 + p, main .content .content-inner h5 + p, main .content .content-inner h6 + p {
      margin-top: 0; }
    main .content .content-inner h2 {
      font-family: "LMDLD", sans-serif;
      font-size: 1.5em;
      margin-bottom: 0;
      margin-top: 40px; }
    main .content .content-inner h3 {
      font-family: "LMDLD", sans-serif;
      font-size: 1.2em;
      margin-bottom: 0;
      margin-top: 40px; }
    main .content .content-inner h4 {
      font-family: "Bebas", sans-serif;
      margin-bottom: 0;
      font-size: 1.7em;
      margin-top: 40px;
      font-weight: normal;
      letter-spacing: 0.03em; }
    main .content .content-inner h5 {
      font-family: "Bebas", sans-serif;
      margin-bottom: 0;
      font-size: 1.4em;
      margin-top: 40px;
      font-weight: normal;
      color: #3F3F3F;
      letter-spacing: 0.03em; }
    main .content .content-inner h6 {
      font-family: "Bebas", sans-serif;
      margin-bottom: 0;
      font-size: 1.2em;
      margin-top: 40px;
      font-weight: normal;
      color: #3F3F3F;
      letter-spacing: 0.03em; }
    main .content figure {
      margin: 20px 0; }
    main .content ol {
      padding-left: 40px; }
      main .content ol li {
        list-style: decimal; }
    main .content .image-gallery figure {
      margin: 10px 0; }

.breadcrumb {
  padding: 20px 20px 10px;
  position: absolute;
  z-index: 2;
  width: 100%; }
  .breadcrumb ol {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .breadcrumb ol li {
      margin-left: 10px;
      font-size: 16px; }
      .breadcrumb ol li:before {
        content: '>>';
        margin-right: 10px; }
      .breadcrumb ol li:first-child {
        margin-left: 0; }
        .breadcrumb ol li:first-child:before {
          content: '';
          margin-right: 0; }
      .breadcrumb ol li a:hover {
        background: #fff200; }

.prog-list-wrapper {
  padding: 0 40px; }
  .prog-list-wrapper > ul {
    width: 100%; }
  .prog-list-wrapper > ul > li {
    padding: 40px; }
  .prog-list-wrapper h2 {
    font-size: 2em; }
  .prog-list-wrapper h3 {
    font-size: 19px;
    color: #3F3F3F;
    font-family: "Bebas", sans-serif;
    letter-spacing: 0.05em;
    margin: 10px 0px 20px 0; }
  .prog-list-wrapper h4, .prog-list-wrapper .freedates {
    font-size: 19px;
    color: #3F3F3F;
    font-family: "Bebas", sans-serif;
    letter-spacing: 0.05em;
    margin-bottom: 10px; }
  .prog-list-wrapper h4.compagnie {
    color: #737373;
    margin-bottom: 0; }
  .prog-list-wrapper .distributionsum p {
    font-size: 17px;
    padding-top: 0;
    margin-top: 0; }
  .prog-list-wrapper .hours {
    margin-top: 0;
    font-family: "Bebas", sans-serif;
    letter-spacing: 0.05em;
    color: #3F3F3F; }
  .prog-list-wrapper .lien-billeterie, .prog-list-wrapper .pdfs-wrapper > li {
    margin-top: 20px;
    padding: 4px 10px;
    text-transform: uppercase;
    font-family: "Bebas", sans-serif;
    letter-spacing: 0.02em; }
    .prog-list-wrapper .lien-billeterie a, .prog-list-wrapper .pdfs-wrapper > li a {
      color: #3F3F3F;
      -webkit-transition: color 0.5s ease;
      -o-transition: color 0.5s ease;
      transition: color 0.5s ease;
      border-bottom: 4px solid #fff200; }
      .prog-list-wrapper .lien-billeterie a:hover, .prog-list-wrapper .pdfs-wrapper > li a:hover {
        color: #000; }
  .prog-list-wrapper .lien-billeterie {
    margin-left: 0;
    background-color: #fff200;
    text-align: center; }
  .prog-list-wrapper .credits-text p {
    font-size: 0.8em; }

footer {
  background: #fff200;
  padding: 20px 20px;
  font-family: "Avenir", sans-serif;
  letter-spacing: 0.02em;
  width: 100%; }
  footer h1 {
    font-size: 19px;
    margin: 0;
    color: #000; }
  footer p, footer a {
    margin: 0;
    font-size: 0.8em; }
  footer .mentions-legales a {
    font-size: 13px; }
    footer .mentions-legales a:hover {
      text-decoration: underline; }
  footer .socialnetworks {
    text-align: left;
    font-family: "Bebas", sans-serif;
    margin-top: 20px;
    font-size: 25px; }
    footer .socialnetworks ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start; }
      footer .socialnetworks ul li a {
        color: #3F3F3F;
        -webkit-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
        margin-right: 10px; }
        footer .socialnetworks ul li a:hover {
          color: #000; }

.big-menu ul {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  height: calc(100vh - 210px); }

.big-menu li {
  height: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: saturation;
  background-position: center;
  border-left: 1px solid #3F3F3F;
  padding: 0;
  position: relative;
  cursor: pointer; }
  .big-menu li a {
    height: 100%;
    display: block;
    background-color: rgba(255, 255, 255, 0.1);
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out; }
    .big-menu li a .yellow-pattern {
      width: 100%;
      mix-blend-mode: multiply;
      position: absolute;
      top: -40px;
      left: 0;
      height: 15vh;
      overflow: hidden; }
    .big-menu li a .big-menu-text {
      display: block;
      position: relative;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      color: #FFF;
      text-align: center;
      font-family: "Bebas", sans-serif;
      font-size: 2em;
      text-shadow: 0px 0px 4px #333;
      padding: 0 20px; }
      .big-menu li a .big-menu-text .infos-spectacle {
        width: 60%;
        margin: auto;
        padding: 10px; }
        .big-menu li a .big-menu-text .infos-spectacle h2 {
          font-size: 0.8em;
          font-family: "Bebas", sans-serif;
          color: #FFF; }
        .big-menu li a .big-menu-text .infos-spectacle h3, .big-menu li a .big-menu-text .infos-spectacle .hours p {
          font-size: 16px;
          font-family: "Bebas", sans-serif;
          margin-top: 0; }
    .big-menu li a:hover {
      background-color: transparent; }

.switch-page {
  width: 100%;
  padding: 0 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 100px; }
  .switch-page.no-prev {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end; }

.switch-page .switch-wrapper {
  width: 45%;
  min-width: 200px; }
  .switch-page .switch-wrapper a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .switch-page .switch-wrapper a:hover .switch-text {
      background-color: #fff200; }
  .switch-page .switch-wrapper.next-wrapper a {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
  .switch-page .switch-wrapper .text-next {
    text-align: right; }
  .switch-page .switch-wrapper .switch-arrow {
    font-size: 30px;
    margin-top: -5px; }
    .switch-page .switch-wrapper .switch-arrow.arrow-prev {
      margin-right: 10px; }
    .switch-page .switch-wrapper .switch-arrow.arrow-next {
      margin-left: 10px; }

main .content.spectacle {
  padding: 40px 0; }
  main .content.spectacle .spectacle-header h2 {
    font-size: 30px;
    margin-top: 0; }
  main .content.spectacle .right-spectacle {
    padding: 40px; }
  main .content.spectacle .prog-cover-wrapper + .spectacle-btn {
    padding-top: 0; }
  main .content.spectacle .spectacle-btn {
    padding: 0 20px 40px 20px;
    text-align: center; }
  main .content.spectacle .lien-billeterie {
    margin-left: 0;
    background-color: #fff200; }
  main .content.spectacle .distribution, main .content.spectacle .presentation-text {
    margin-bottom: 40px; }
  main .content.spectacle .related {
    margin-top: 40px;
    padding-top: 20px;
    border-top: 4px solid #fff200; }
    main .content.spectacle .related h3 {
      font-size: 25px; }
    main .content.spectacle .related h4 {
      font-family: "LMDLD", sans-serif;
      text-align: center;
      margin: 0; }

main .content.programmation {
  padding: 40px;
  position: relative; }
  main .content.programmation .archives-btn + h1 {
    margin-top: 20px; }
  main .content.programmation h1 {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px; }
  main .content.programmation h2 {
    font-size: 30px; }
  main .content.programmation .archives-btn {
    text-align: center;
    margin: auto;
    margin-top: 20px; }
    main .content.programmation .archives-btn a {
      background: #fff200;
      padding: 5px 10px 3px;
      font-family: "Bebas", sans-serif;
      letter-spacing: 0.05em;
      color: #3F3F3F; }

main .content.article {
  padding: 40px 20px;
  margin-bottom: 80px; }
  main .content.article a {
    text-decoration: underline;
    -webkit-text-decoration-color: #fff200;
    text-decoration-color: #fff200; }
    main .content.article a:hover {
      background-color: #fff200; }
  main .content.article h3 {
    margin-top: 40px;
    font-family: "LMDLD", sans-serif; }
  main .content.article h3 + p {
    margin-top: 0; }
  main .content.article .left-col > figure {
    margin-top: 0; }
  main .content.article .right-col {
    border-left: 20px solid #fff200; }
    main .content.article .right-col ul {
      margin-left: 40px; }
      main .content.article .right-col ul li {
        list-style: disc;
        margin-bottom: 10px; }
  main .content.article h2 {
    font-family: "Bebas", sans-serif;
    font-weight: normal;
    font-size: 30px;
    margin-bottom: 0;
    margin-top: 40px; }
  main .content.article h2 + p {
    margin-top: 10px; }

@media only screen and (min-width: 48em) {
  .show-for-small-only {
    display: none !important; }
  .hide-for-small-only {
    display: block !important; }
  main {
    padding: 85px 0 0 0; }
    main .content {
      padding: 0; }
  .breadcrumb {
    padding: 20px 40px 10px; }
  .big-menu ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row; }
  .big-menu li {
    height: calc(100vh - 210px); }
    .big-menu li a {
      height: calc(100vh - 210px); }
      .big-menu li a .yellow-pattern {
        height: calc(100vh - 210px); }
  .switch-page {
    padding: 0 60px; }
    .switch-page .switch-wrapper {
      width: 20%; }
  main .content.spectacle .spectacle-btn {
    padding: 50% 30px 0 30px; }
  main .content.spectacle .spectacle-header h2 {
    font-size: 3.8vw; }
  main .content.article {
    padding: 80px 40px; }
    main .content.article .left-col {
      padding-right: 20px; }
    main .content.article .right-col {
      padding-left: 20px; }
  footer {
    padding: 20px 40px; }
    footer .socialnetworks {
      text-align: right;
      margin-top: 0; }
      footer .socialnetworks ul {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end; }
        footer .socialnetworks ul li {
          margin-left: 10px; } }
